.header__container {
	@include background-image('../assets/main_blob.svg', 0 0);
	height: 60vh;
	margin: auto;
	padding: 10% 10% 10%;

	h1 {
		font-size: calc(1.6rem + 2.5vw);
		margin-bottom: 1rem;
	}

	p,
	button {
		font-family: var(--font-primary);
		font-size: calc(1.4rem);
	}

	button,
	p {
		margin-left: 20%;
		margin-bottom: 1rem;
	}
	button {
	}

	@include media-desktop-hd {
		height: 75vh;
		h1 {
			font-size: calc(1.8rem + 2.5vw);
		}
	}

	@include media-desktop-l {
		height: 85vh;
		background-size: 55vw;
	}
}
