.header__container {
	@include background-image('../assets/main_blob.svg', 0 0);
	height: 60vh;
	// margin: auto;
	padding: 10% var(--indent-1) 10%;

	h1 {
		font-size: calc(1.4rem + 2vw);
		margin-bottom: 1rem;
	}

	p {
		font-family: var(--font-primary);
	}

	button,
	p {
		margin-left: 20%;
		margin-bottom: 1rem;
	}

	@include media-desktop {
		h1 {
			font-size: calc(1.8rem + 2.5vw);
		}
	}

	@include media-desktop-hd {
		height: 75vh;
	}

	@include media-desktop-l {
		height: 85vh;
		background-size: 100vh;
	}
}
