.header__container {
	height: 80%;
	max-width: 80%;
	margin: auto;

	h1 {
		font-size: calc(1.8rem + 2.5vw);
		margin-bottom: 1rem;
	}

	p,
	button {
		font-family: var(--font-primary);
		font-size: calc(1.4rem);
	}

	button,
	p {
		margin-left: 20%;
		margin-bottom: 1rem;
	}
	button {
	}

	@include media-desktop-hd {
	}

	@include media-desktop-l {
	}
}
