.intro__container {
	@include background-image('../assets//intro_blob.svg', 85%, 24vw);
	margin-bottom: 8rem;
	padding-left: var(--indent-2);
	padding-right: var(--indent-1);

	h2 {
		margin-bottom: 1.6rem;
	}

	p {
		padding-left: var(--indent-1);
	}

	@include media-desktop-l {
		height: 50vh;

		p {
			width: 78%;
		}
	}

	@include media-desktop-uw {
		background-size: 40vh;
	}
}
