.menu__container {
	a {
		display: inline-block;
		width: max-content;
		text-decoration: none;
	}

	li {
		width: max-content;
		margin: 0 0.8rem;
	}

	display: flex;
	flex-direction: row-reverse;
	position: fixed;
	transform: translateX(-52%) translateY(-50%) rotate(-90deg);
	top: 50%;
	left: 1.4rem;
	justify-content: center;
	width: 100%;

	@include media-desktop {
		transform: translateX(-50%) translateY(-50%) rotate(-90deg);
	}
}
