@mixin media-desktop-l {
	@media only screen and (min-width: 70rem) {
		@content;
	}
}
@mixin media-desktop-hd {
	@media only screen and (min-width: 40rem) and(max-width: 70rem) {
		@content;
	}
}

@mixin background-image($url, $position, $size: 70vw) {
	background: {
		image: url($url);
		position: $position;
		size: $size;
		repeat: no-repeat;
	}
}
