.program__container {
	padding-left: var(--indent-1);
	padding-right: var(--indent-3);

	h2 {
		margin-bottom: 1.6rem;
	}

	p,
	aside {
		padding-left: var(--indent-3);
	}

	ul {
		display: flex;
		flex-direction: column;
		& > li {
			// default the order to be below all section headers
			order: 9;
		}

		& > [data-program-sections] {
			p {
				max-width: 80%;
				margin-bottom: 2.4rem;
			}
		}

		[data-programs='love'] {
			order: 2;
		}
		[data-programs='interest'] {
			order: 4;
		}
		[data-programs='neutral'] {
			order: 6;
		}
	}

	label {
		position: relative;
		display: block;
		font-size: var(--font-title-sub);
		font-weight: 700;
		// width: max-content;
		margin-bottom: 1.6rem;

		cursor: pointer;

		&::before {
			content: '';
			position: absolute;
			left: -0.8rem;
			// Based on font-size
			height: calc(var(--font-title-sub) + 0.6rem);
			width: calc(var(--font-title-sub) + 0.6rem);
			background: var(--yellow);
			border-radius: 50%;
			z-index: -1;

			transition: transform var(--anim-time-primary) var(--anim-cubic-primary);
		}

		&:hover {
			&::before {
				transform: translateX(-75%);
			}
		}
	}

	[type='checkbox'] {
		position: absolute;
		opacity: 0;

		&:focus {
			& ~ label {
				// outline: var(--outline);
				&::before {
					transform: translateX(-75%);
				}
			}
		}

		&:checked {
			& ~ label {
				&::before {
					transform: translateX(-75%) scale(0.5);
				}
			}

			& ~ .program__description {
				max-height: 50rem;
				opacity: 1;
			}
		}
	}
}

.program__description {
	display: flex;
	flex-direction: column;
	margin-bottom: 3.2rem;
	max-height: 0;
	opacity: 0;
	overflow: hidden;

	transition-property: max-height, opacity;
	transition-duration: var(--anim-time-primary);
	transition-timing-function: var(--anim-cubic-primary);

	ul {
		display: flex;
		font-family: var(--font-secondary);
		font-size: var(--font-content);
		margin-bottom: 0.8rem;
	}

	li {
		// position: relative;
		margin-bottom: 0.8rem;

		&.selected {
			span::before {
				content: '';
				position: absolute;
				left: -16.7%;
				top: 16.7%;
				height: calc(100% * (2 / 3));
				width: calc(100% * (2 / 3));
				border-radius: inherit;
				background: var(--grey-dark);
			}
		}
	}

	// From aside
	span {
		position: relative;
		display: inline-block;
		background: var(--yellow);
		margin-right: -0.6rem;
		border-radius: 25%;
		padding: 1rem;
		vertical-align: middle;
		z-index: -1;
	}

	@include media-desktop {
		flex-direction: row-reverse;
		justify-content: flex-end;

		div {
			width: 60%;
		}

		p {
			margin: 0 0 1.6rem;

			&:last-of-type {
				margin: 0;
			}
		}

		ul {
			flex-direction: column;
		}

		li {
			margin-bottom: 1.6rem;
		}
	}
}

[data-program-sections] {
	display: none;

	&:nth-of-type(1) {
		display: block;
		order: 1;
	}
	&:nth-of-type(2) {
		order: 3;
	}
	&:nth-of-type(3) {
		order: 5;
	}

	&.show {
		display: block;
	}
}

[data-program] {
	padding-left: var(--indent-3);
}
