.program__container {
	padding-left: var(--indent-1);

	p,
	aside {
		padding-left: var(--indent-3);
	}

	& > p {
		margin-bottom: 5%;
	}

	label {
		font-size: var(--font-title-sub);
		font-weight: 700;
	}

	[type='checkbox'] {
		position: absolute;
		opacity: 0;

		&:checked ~ label {
			// outline: dotted lightseagreen 0.2rem;
		}

		&:focus {
			& ~ label {
				/* TEMPORARY OUTLINE */
				outline: dotted lightseagreen 0.2rem;
			}
		}
	}
}

.program__description {
	ul {
		display: flex;
		font-family: var(--font-secondary);
		font-size: var(--font-content);
	}

	li {
		// position: relative;
		&:nth-of-type(1n + 2) {
			margin-left: 1.6rem;
		}
	}

	span {
		position: relative;
		display: inline-block;
		background: var(--yellow);
		margin-right: -0.6rem;
		border-radius: 25%;
		padding: 1rem;
		vertical-align: middle;
		z-index: -1;

		&::after {
			content: '';
			position: absolute;
			left: -16.7%;
			top: 16.7%;
			height: calc(100% * (2 / 3));
			width: calc(100% * (2 / 3));
			border-radius: inherit;
			background: var(--grey-dark);
		}
	}
}
