.quiz__container {
	padding: 0 var(--indent-1);

	h2 {
		margin-bottom: 1.6rem;
	}
}

.quiz__question-container {
	// margin-bottom: 2.4rem;
	margin-bottom: 20rem;
	padding-left: var(--indent-1);

	& > ul {
		display: flex;
		flex-direction: column;
		position: relative;
	}

	p {
		font-family: var(--font-primary);
		font-weight: 700;
		font-size: calc(1rem + 1vw);
		line-height: 1.4;
		margin-bottom: 1.6rem;
	}

	li {
		font-family: var(--font-secondary);
		font-size: var(--font-content);
		margin-bottom: 1.6rem;
	}

	input {
		position: absolute;
		opacity: 0;

		& ~ label {
			cursor: pointer;

			span {
				position: relative;
				display: inline-block;
				background: var(--yellow);
				margin-right: -0.6rem;
				// border-radius: 25%;
				padding: 1rem;
				vertical-align: middle;
				z-index: -1;

				&::before {
					content: '';
					position: absolute;
					// left: -16.7%;
					left: 0;
					top: 16.7%;
					height: calc(100% * (2 / 3));
					width: calc(100% * (2 / 3));
					border-radius: inherit;
					background: var(--grey-dark);

					opacity: 0;
					transform: scale(0) translateX(0);

					transition-property: opacity, width, height, transform;
					transition-duration: var(--anim-time-primary);
					transition-timing-function: var(--anim-cubic-primary);
				}
			}

			&:hover {
				span {
					&::before {
						opacity: 1;
						transform: scale(0.5) translateX(-24%);
					}
				}
			}
		}

		&:focus {
			& ~ label {
				// outline: var(--outline);
				span {
					&::before {
						opacity: 1;
						transform: scale(0.5) translateX(-24%);
					}
				}
			}
		}

		&:checked {
			& ~ label {
				span {
					&::before {
						opacity: 1;
						transform: scale(1) translateX(-24%);
					}
				}
			}
		}
	}

	li {
		[type='radio'],
		[type='checkbox'] {
			& ~ label::before {
				@include background-image('../assets/test_feedback.svg', left center, 6rem);
				content: '';
				display: flex;
				align-items: center;
				position: absolute;
				bottom: -6.4rem;
				left: 0;
				font-family: var(--font-primary);
				font-weight: 700;
				height: 6rem;
				width: 34rem;
				background-color: var(--yellow);
				border-radius: 4rem;
				padding-left: 7.2rem;
				padding-right: 1.6rem;

				opacity: 0;
				pointer-events: none;

				transition-property: max-width, opacity;
				transition-duration: var(--anim-time-primary);
				transition-timing-function: var(--anim-cubic-primary);
			}
		}
	}

	[type='checkbox'] {
		& ~ label {
			span {
				border-radius: 25%;
			}
		}
	}

	[type='radio'] {
		& ~ label {
			span {
				border-radius: 50%;
			}
		}
	}

	&:nth-of-type(2) {
		& > ul {
			display: grid;
			grid-gap: 0 2.4rem;
		}
	}

	@include media-desktop {
		& > ul {
			// display: flex;
		}

		ul {
			&:nth-of-type(2) {
				margin-left: 2.4rem;
			}
		}

		&:nth-of-type(2) {
			& > ul {
				grid-template-columns: max-content max-content;
			}
		}
	}
}

// TODO: Find a CSS only solution to prevent duplicate psuodo elements. :first-of-type doe snot work
.quiz__question-1 {
	li:nth-of-type(1) [type='radio']:checked {
		& ~ label::before {
			content: 'Great we love people like you!';
			opacity: 1;
		}
	}
	li:nth-of-type(2) [type='radio']:checked {
		& ~ label::before {
			content: 'Hmmm, I am not sure you will like it here then';
			opacity: 1;
		}
	}
	li:nth-of-type(3) [type='radio']:checked {
		& ~ label::before {
			content: 'Are you sure? Sharing is caring!';
			opacity: 1;
		}
	}

	aside {
		position: relative;
		display: none;
		overflow: hidden;
		margin: 2.4rem 0;
		border-radius: 0.8rem;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

		div {
			// position: absolute;
			&:first-of-type {
				display: none;
				button {
					// all: unset;
					display: inline-block;
					border-radius: 0;
					width: 50%;
					&:last-of-type {
						background-color: var(--yellow);
						font-weight: 700;
					}
				}
			}
		}

		p {
			margin: 0;
			padding: 1.6rem;
		}

		button {
			color: initial;
			background-color: initial;
		}
	}

	// @include media-desktop {
	// In case of large phablets. Landscape ipad pro's not included yet
	@media only screen and (min-width: 50rem) and (orientation: landscape) {
		aside {
			display: block;
		}
	}

	@media only screen and (min-width: 70rem) and (orientation: landscape) {
		display: flex;
		flex-flow: row-reverse nowrap;

		div {
			flex: 1;
		}

		aside {
			flex: 1;
			margin: 0 0 0 1.6rem;
		}
	}
}

.quiz__question-2 {
	// x and more
	li:nth-last-child(3):first-child {
		[type='checkbox']:checked {
			& ~ label::before {
				content: 'feedback2';
				// opacity: 1;
			}
		}
		color: pink;
	}

	// li:nth-last-child(n + 3):first-child,
	// li:nth-last-child(n + 3):first-child ~ li {
	// 	[type='checkbox']:checked {
	// 		& ~ label::before {
	// 			content: 'bla';
	// 			opacity: 1;
	// 		}
	// 	}
	// 	color: blue;
	// }

	// li:nth-last-child(n + 6):first-child,
	// li:nth-last-child(n + 6):first-child ~ li {
	// 	[type='checkbox']:checked {
	// 		& ~ label::before {
	// 			content: 'blabla';
	// 			opacity: 1;
	// 		}
	// 	}
	// 	color: green;
	// }

	// li:nth-last-child(n + 8):first-child,
	// li:nth-last-child(n + 8):first-child ~ li {
	// 	[type='checkbox']:checked {
	// 		& ~ label::before {
	// 			content: 'blablabla';
	// 			opacity: 1;
	// 		}
	// 	}
	// 	color: red;
	// }
}

.quiz__question-3 {
	// [type='checkbox'] {
	// 	& ~ label::before {
	// 		content: 'feedback 3';
	// 	}
	// }

	// li:nth-of-type(3) [type='checkbox']:checked {
	// 	& ~ label::before {
	// 		content: 'Are you sure? Sharing is caring!';
	// 		opacity: 1;
	// 	}
	// }

	[type='checkbox']:nth-last-child(n + 2):first-child,
	[type='checkbox']:nth-last-child(n + 2):first-child ~ [type='checkbox'] {
		& ~ label::before {
			content: 'feedback3';
			// opacity: 1;
		}
		color: blue;
	}
}

.quiz__editor-container {
	background-color: var(--grey-dark);

	ul {
		display: grid;
		grid-template-columns: minmax(1rem, 3rem) auto auto auto;
		grid-gap: 0.2rem;
		li {
			width: 100%;
			position: relative;
			font-family: var(--font-primary);
			font-weight: 700;
			background-color: var(--yellow);
			text-align: center;
			text-transform: uppercase;
			margin: 0;
			padding: 0.4rem;
			z-index: 1;
			cursor: pointer;

			&::before {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				height: 50%;
				width: 100%;
				background-color: var(--grey-dark);
				z-index: -1;
				transition-property: transform;
				transition-timing-function: var(--anim-cubic-primary);
				transition-duration: var(--anim-time-primary);
			}

			&:hover {
				&:nth-of-type(1n + 2)::before {
					transform: translateY(100%);
				}
			}
		}

		button {
			padding: 0;
			font-weight: 700;
		}
	}

	style {
		font-family: var(--font-secondary);
		white-space: pre-line;
		outline: none;
		display: block;
		font-size: 1.2rem;
		color: #fafafa;
		height: 24rem;
		overflow-y: scroll;
		padding-left: 1.6rem;

		&::-webkit-scrollbar {
			width: 0.3rem;
		}
	}
}
